
@font-face {
  font-family: 'ledlight';
  src: url(LEDLIGHT.otf) format('opentype');
}

.headname {
  font-family: ledlight;
  font-size: 150px;
  margin-top: 150px;
}

body {
  background-color: black;
  color: white;
}

.div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

.tir {
  font-family: ledlight;
  font-size: 70px;
}
