
@font-face {
  font-family: 'ledlight';
  src: url(LEDLIGHT.otf) format('opentype');
}

.headname {
  font-family: ledlight;
  font-size: 150px;
  margin-top: 100px;
}

body {
  background-color: black;
  color: white;
}

.div1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.div2 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.tir {
  font-family: ledlight;
  font-size: 70px;
}

.bt {
  margin-left: 10px;
  margin-right: 10px;
}

.button {
  background-color: #ffffff; 
  color: #000000; 
  padding: 20px 30px; 
  border: 1px solid #ffffff; 
  cursor: pointer; 
  margin-left: 40px;
  margin-right: 40px;
  font-family: ledlight;
  font-size: 30px;
}

.button:hover {
  background-color: #000000; 
  color: rgb(255, 255, 255);
}